node_modules/
.env
.DS_Store
/.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
dist/
build/
.cache/
coverage/
*.log
/.parcel-cache/
/.nyc_output/
/.sass-cache/
*.local
/.env.local
/.env.*.local
Thumbs.db
desktop.ini
/.history/
1765301040896.jpg
"ChatGPT Image 25 dic 2025, 14_33_36.png"